.users
  .users__header
    %h1 Log in to your account
    %p Welcome back! Let&rsquo;s manage your alerts.

  .users__form-container
    = form_for :session, url: session_path do |f|

      = f.label :username, 'Email'
      = f.email_field :username,
        maxlength: 64

      = f.label :password, 'Password'
      = f.password_field :password,
        maxlength: 64

      .button-container
        = f.submit 'Log in'
