.users
  .users__header
    %h1 Create your account
    %p
      You&rsquo;re minutes away from your first alert! Let&rsquo;s create your account.

  .users__form-container
    = form_for @user do |f|

      = f.label :email, 'Email'
      = f.email_field :email,
        maxlength: 64
      = f.error_messages :email

      = f.label :password, 'Password'
      = f.password_field :password,
        maxlength: 64
      = f.error_messages :password

      = f.label :password_confirmation, 'Confirm password'
      = f.password_field :password_confirmation,
        maxlength: 64
      = f.error_messages :password_confirmation

      .button-container
        = f.submit 'Sign up'
