= form_for user do |f|

  = f.label :email, 'Email'
  = f.email_field :email,
    maxlength: 64

  = f.label :password, 'Password'
  = f.password_field :password,
    maxlength: 64

  = f.label :password_confirmation, 'Confirm password'
  = f.password_field :password_confirmation,
    maxlength: 64

  = f.submit 'Sign up'
