.section-header Monitored files

= f.label :repository_name, 'Repository', class: 'required'
= f.text_field :repository_name,
  maxlength: 64,
  data: { 'match-data-field' => 2 }
= f.error_messages :repository_name

= f.label :branch, 'Branch', class: 'required'
= f.radio_button :all_branches, true, data: { 'toggler' => 'all-branches' }
= f.label :all_branches_true, 'All branches', class: 'inline'
%br
= f.radio_button :all_branches, false
= f.label :all_branches_false, 'Specific branch', class: 'inline'
.indented{ data: { 'hide-if-checked' => 'all-branches' } }
  = f.text_field :branch, maxlength: 64, data: { 'match-data-field' => 3 }
  = f.error_messages :branch

= f.label :modified_path, 'Path', class: 'required'
= f.radio_button :all_modified_paths, true, data: { 'toggler' => 'all-modified-paths' }
= f.label :all_modified_paths_true, 'All files', class: 'inline'
%br
= f.radio_button :all_modified_paths, false
= f.label :all_modified_paths_false, 'Specific file or directory', class: 'inline'
.indented{ data: { 'hide-if-checked' => 'all-modified-paths' } }
  = f.text_field :modified_path, maxlength: 64, data: { 'match-data-field' => 4 }
  = f.error_messages :modified_path

%hr
.section-header Alerts

= f.label :email_address_address, 'Email'
= f.email_field :email_address_address,
  data: { selectize: f.object.decorate.email_selectize_params.merge({ 'missing-text-container-selector' => '[data-email-name-container]' }).to_json.html_safe },
  maxlength: 64
= f.error_messages :email_address_address

.hidden{ data: { 'email-name-container' => true } }
  = f.label :email_address_name, 'Name this email'
  = f.text_field :email_address_name,
    maxlength: 64
  = f.error_messages :email_address_name

= f.label :slack_webhook_url, 'Slack webhook URL'
= f.url_field :slack_webhook_url,
  data: { selectize: f.object.decorate.slack_webhook_selectize_params.merge({ 'missing-text-container-selector' => '[data-slack-webhook-name-container]' }).to_json.html_safe },
  maxlength: 128
= f.error_messages :slack_webhook_url

.hidden{ data: { 'slack-webhook-name-container' => true } }
  = f.label :slack_webhook_name, 'Name this Slack webhook'
  = f.text_field :slack_webhook_name,
    maxlength: 64
  = f.error_messages :slack_webhook_name

= f.label :message, 'Message', class: 'required'
= f.text_area :message,
  maxlength: 256
= f.error_messages :message

.button-container
  = f.submit 'Save trigger'
