= f.label :repository_name, 'Repository'
= f.text_field :repository_name,
  maxlength: 64
= f.error_messages :repository_name

= f.label :branch, 'Branch'
= f.text_field :branch,
  maxlength: 64
= f.error_messages :branch

= f.label :modified_file, 'File path'
= f.text_field :modified_file,
  maxlength: 64
= f.error_messages :modified_file

= f.label :email_address_address, 'Email'
= f.email_field :email_address_address,
  data: { 'text-input-to-selectize' => true },
  maxlength: 64
= f.error_messages :email_address_address

:javascript
  TextInputToSelectize(
    $('[data-text-input-to-selectize]'),
    {
      items: #{f.object.decorate.email_selectize_items},
      options: #{f.object.decorate.email_selectize_options}
    }
  );

= f.label :slack_webhook_url, 'Slack webhook URL'
= f.url_field :slack_webhook_url,
  maxlength: 128
= f.error_messages :slack_webhook_url

= f.label :message, 'Message'
= f.text_area :message,
  maxlength: 256
= f.error_messages :message

.button-container
  = f.submit 'Save trigger'
