.section-header Monitored files

= f.label :repository_name, 'Repository'
= f.text_field :repository_name,
  maxlength: 64
= f.error_messages :repository_name

= f.label :branch, 'Branch'
= f.radio_button :all_branches, true, data: { 'toggler' => 'all-branches' }
= f.label :all_branches_true, 'All branches', class: 'inline'
%br
= f.radio_button :all_branches, false
= f.label :all_branches_false, 'Specific branch', class: 'inline'
.indented{ data: { 'hide-if-checked' => 'all-branches' } }
  = f.text_field :branch, maxlength: 64
  = f.error_messages :branch

= f.label :modified_file, 'File path'
= f.radio_button :all_modified_files, true, data: { 'toggler' => 'all-modified-files' }
= f.label :all_modified_files_true, 'All files', class: 'inline'
%br
= f.radio_button :all_modified_files, false
= f.label :all_modified_files_false, 'Specific file', class: 'inline'
.indented{ data: { 'hide-if-checked' => 'all-modified-files' } }
  = f.text_field :modified_file, maxlength: 64
  = f.error_messages :modified_file

%hr
.section-header Alerts

= f.label :email_address_address, 'Email'
= f.email_field :email_address_address,
  data: { 'email-address-selectize' => true },
  maxlength: 64
= f.error_messages :email_address_address

.hidden{ data: { 'email-name-container' => true } }
  = f.label :email_address_name, 'Name this email'
  = f.text_field :email_address_name,
    maxlength: 64
  = f.error_messages :email_address_name

:javascript
  TextInputToSelectize(
    $('[data-email-address-selectize]'),
    {
      items: #{f.object.decorate.email_selectize_items},
      options: #{f.object.decorate.email_selectize_options},
      missingTextContainer: $('[data-email-name-container]'),
    }
  );

= f.label :slack_webhook_url, 'Slack webhook URL'
= f.url_field :slack_webhook_url,
  data: { 'slack-webhook-selectize' => true },
  maxlength: 128
= f.error_messages :slack_webhook_url

.hidden{ data: { 'slack-webhook-name-container' => true } }
  = f.label :slack_webhook_name, 'Name this Slack webhook'
  = f.text_field :slack_webhook_name,
    maxlength: 64
  = f.error_messages :slack_webhook_name

:javascript
  TextInputToSelectize(
    $('[data-slack-webhook-selectize]'),
    {
      items: #{f.object.decorate.slack_webhook_selectize_items},
      options: #{f.object.decorate.slack_webhook_selectize_options},
      missingTextContainer: $('[data-slack-webhook-name-container]'),
    }
  );

= f.label :message, 'Message'
= f.text_area :message,
  maxlength: 256
= f.error_messages :message

.button-container
  = f.submit 'Save trigger'
