.triggers
  .triggers__header
    %h1 Create a new trigger

  .triggers__form-container
    = form_for @trigger_builder do |f|

      = f.label :github_url, 'Paste the GitHub link to the file you&rsquo;d like to monitor'.html_safe
      = f.url_field :github_url,
        maxlength: 128
      = f.error_messages :github_url

      .button-container
        = f.submit 'Next'
