.triggers__email
  = current_user.email

.triggers__github-events-secret
  Your GitHub webhook secret is #{current_user.github_events_secret}

.triggers__triggers
  - current_user.triggers.each do |trigger|
    .triggers__trigger
      When #{trigger.modified_file} changes, send an email to #{trigger.email} saying &ldquo;#{trigger.message}&rdquo;
      = link_to 'Delete', trigger_path(trigger), method: :delete

.triggers__new-trigger
  = link_to 'Add trigger', new_trigger_path
