- unless current_user.primary_email_address.confirmed?
  .flash-alert
    You haven&rsquo;t confirmed your email address. Please click the link in the email we sent you,
    or #{link_to 'click here', new_email_address_confirmation_resend_path(current_user.primary_email_address)} to resend the email.

.triggers
  .triggers__header
    %h1 Your triggers

  .triggers__triggers-index
    .triggers__triggers-index__headers
      .header Repository
      .header Branch
      .header File path
      .header Last alert
      .header Actions

    - triggers.each do |trigger|
      .triggers__triggers-index__trigger
        .attribute
          .label Repository
          .value= trigger.repository_name
        .attribute
          .label Branch
          .value= trigger.branch
        .attribute
          .label File path
          .value= trigger.modified_file
        .attribute
          .label Last alert
          .value= trigger.last_alert_time_ago
        .attribute
          .label Actions
          .value
          #{link_to 'Edit', edit_trigger_form_path(trigger)} | #{link_to 'Delete', trigger_path(trigger), method: :delete}

  .triggers__new-trigger
    = link_to 'Add trigger', new_trigger_form_path
