.triggers__email
  = current_user.email

.triggers__github-events-secret
  Your GitHub webhook secret is #{current_user.github_events_secret}

.triggers__triggers
  %table
    %tr
      %th Repository
      %th Branch
      %th File path
      %th Last alert
      %th
    - current_user.triggers.each do |trigger|
      %tr
        %td= trigger.repository_name
        %td= trigger.branch
        %td= trigger.modified_file
        %td
          - if trigger.alerts.any?
            #{time_ago_in_words(trigger.alerts.last.created_at)} ago
          - else
            Never
        %td
          = link_to 'Edit', trigger_path(trigger)
          |
          = link_to 'Delete', trigger_path(trigger), method: :delete

.triggers__new-trigger
  = link_to 'Add trigger', new_trigger_path
