= form_for @trigger, url: user_triggers_path(current_user) do |f|

  - if @trigger.errors.any?
    %ul
      - @trigger.errors.full_messages.each do |msg|
        %li= msg.html_safe

  = f.label :modified_file, 'Filename'
  = f.text_field :modified_file,
    maxlength: 64

  = f.label :email, 'Email'
  = f.text_field :email,
    maxlength: 64

  = f.label :message, 'Message'
  = f.text_area :message,
    maxlength: 256

  = f.submit 'Create trigger'
